.form-container {
    display: flex;
    flex-wrap: wrap;
}

.form-column {
    flex: 50%; /* Assign 50% width to each column */
}

label, input[type="text"] {
    width: 90%;
}

input[type="text"] {
    width: 30%; /* You might need to adjust this width according to your needs */
}
.input-container {
    display: flex; /* Enable flexbox layout */
    justify-content: space-between; /* Push label to the left and input to the right */
}

#results-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    position: absolute;
    left: 10px; /* Adjust the left position as needed */
    bottom: 10px; /* Adjust the bottom position as needed */
    width: 200px; /* Adjust the width as needed */
}

#loading-message {
    font-style: italic;
    font-size: 14px;
    color: #555;
}
